.popup__input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0;
  padding: 0 0 8px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 910px) {
  .popup__input {
    padding: 0 0 10px 0;
  }
}
