.profile__job {
  padding: 0;
  margin: 10px 0 32px 0;
  max-width: 282px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 910px) {
  .profile__job {
    margin: 10px 0 0 0;
    max-width: 336px;
    text-align: left;
    font-size: 18px;
    line-height: 22px;
  }
}
