.auth__input {
    width: 358px;
    height: 27px;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    background-color: #000;
    outline: none;
}
